@using System.Security.AccessControl
@using File = System.IO.File
@model Webdotnet.Custom.ViewModels.LayoutBaseViewModel

<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
@*  <meta name="robots" content="noindex, nofollow">*@
  <link rel="canonical" href="@Request.Url.AbsoluteUri">

  <title>@Model.Title</title>
  <meta name="description" content="@Model.Description">
  @if (Model.IsArticle)
  {
      <meta property="og:site_name" content="WebDotNet Kamil Hadas">
      <meta property="og:title" content="@Model.Title">
      <meta property="og:url" content="@Request.Url.AbsoluteUri">
      <meta property="og:description" content="@Model.Description">
      <meta property="og:image" content="@Model.ArticleImgUrl">
      <meta property="og:type" content="website">
  }


  <script type="application/ld+json">
    {
    "@@context" : "http://schema.org",
    "@@type" : "Person",
    "url" : "http://www.webdotnet.pl",
    "name" : "Kamil Hadas WebDotNet",
    "email" : "webdotnetmail@gmail.com",
    "sameAs":[
    "https://www.facebook.com/this.webdotnet/",
    "https://twitter.com/KamilHadas"
    ]
    }
  </script>

  <meta name="theme-color" content="#e7e7e7">
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

@*  <link href="~/assets/critical.css" rel="stylesheet" />*@
  <style>
    @{GetOutputWriter().Write(File.ReadAllText(Server.MapPath("/assets/critical.css")));}
  </style>
</head>
<body>
  @if (Model.Header != null)
  {
      @Html.Partial(Model.Header.PartialPath, Model.Header.ViewModel)
  }

  <div class="content">
    <div class="body-section container" role="main">
      @RenderBody()
    </div>
  </div>
  @if (Model.Footer != null)
  {
      @Html.Partial(Model.Footer.PartialPath, Model.Footer.ViewModel)
  }
  @{
      var additionalClass = @Model.IsArticle ? "bottom-break" : "";
  }
  <div class="cookie-container @additionalClass js-cookies-container">
    <div class="cookiebar">
      <div class="cookie-text">
        Strona WebDotNet używa plików cookie w celu spersonalizowania zawartości. Możesz je wyłączyć w swojej przeglądarce lub korzystając nadal z strony godzisz się na użycie cookies.
      </div>
      <button class="btn btn-primary cookie-button js-cookies-button">Rozumiem</button>
    </div>
  </div>
  
  
  @if (Model.IsArticle)
  {
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/default.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/solarized-light.min.css">
  }
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
  <script src="~/assets/js/main.js?ver=1.3"></script>
  @if (Model.IsArticle)
  {
      <script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59024a70bf696f91"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
      <script>
        hljs.initHighlightingOnLoad();
      </script>
  }
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-100571076-1', 'auto');
  ga('send', 'pageview');

</script>
<link href="https://fonts.googleapis.com/css?family=Anton|Work+Sans" rel="stylesheet">
<link href="~/assets/css/main.css?ver=1.4" rel="stylesheet">
</body>
</html>